.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.group1073717185 {
  width: 1440px;
  height: 926px;
  display: block;
  flex-shrink: 0;
}
.rectangle2649203 {
  background: rgba(250, 247, 240, 1);
  width: 1440px;
  height: 925px;
  display: block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.group1073716564 {
  width: 1280px;
  height: 652px;
  display: block;
  position: absolute;
  top: 0px;
  left: 82px;
}
.group1073716555 {
  width: 1280px;
  height: 652px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group1073716542 {
  width: 1280px;
  height: 652px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group1073716293 {
  width: 1280px;
  height: 652px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
._3UpCards {
  background: rgba(250, 247, 240, 1);
  width: 1280px;
  height: auto;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  padding: 96px 16px;
}
._3UpCards > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
._3UpCards > :global(.__wab_flex-container) > *,
._3UpCards > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
._3UpCards > :global(.__wab_flex-container) > picture > img,
._3UpCards
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.sectionTitle {
  width: 1280px;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-left: 95px;
  padding-right: 95px;
}
.sectionTitle > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.sectionTitle > :global(.__wab_flex-container) > *,
.sectionTitle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.sectionTitle > :global(.__wab_flex-container) > picture > img,
.sectionTitle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text {
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: column;
}
.text > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.text > :global(.__wab_flex-container) > *,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.text > :global(.__wab_flex-container) > picture > img,
.text > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 12px;
}
.optionalEyebrow {
  display: block;
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.headerSubline {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.headerSubline > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.headerSubline > :global(.__wab_flex-container) > *,
.headerSubline > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerSubline > :global(.__wab_flex-container) > picture > img,
.headerSubline
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.sectionTitle2 {
  display: block;
  font-size: 40px;
  letter-spacing: -0.03em;
  line-height: 1.2;
  color: rgba(11, 13, 27, 1);
  align-self: stretch;
  position: relative;
}
.loremIpsumDolorSitAmetConsecteturAdipiscingElit {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(48, 54, 78, 1);
  align-self: stretch;
  position: relative;
}
.cta {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonText {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 34px;
}
.buttonText > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.buttonText > :global(.__wab_flex-container) > *,
.buttonText > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonText > :global(.__wab_flex-container) > picture > img,
.buttonText
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__xg86A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__qlbBc {
  display: block;
  position: relative;
  width: 53px;
  height: 16px;
  flex-shrink: 0;
}
.text2 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(11, 13, 27, 1);
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.svg__jKqhc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #0c0e1c;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.mediaSizes {
  width: 23.43%;
  height: 61.34%;
  display: block;
  position: absolute;
  top: 38.65%;
  left: 1.64%;
  overflow: hidden;
}
.image {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.screenshot20230518At12181 {
  background: url("./images/screenshot20230518At12181.jpg") -25px -132px / 400px 600px no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.group1073717184 {
  width: 1258px;
  height: 551px;
  display: block;
  position: absolute;
  top: 252px;
  left: 91px;
}
.group1073717183 {
  width: 939px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.group1073716550 {
  width: 301px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.editorialCardsDesktop {
  width: 300px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
}
.text3 {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.image2 {
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mediaSizes2 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.image3 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.travelTipsRyanCollage02396531 {
  background: url("./images/travelTipsRyanCollage02396531.jpg") -264px -33px / 673px 448px no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.editorialContentPanel {
  width: 300px;
  height: auto;
  display: flex;
  position: absolute;
  top: 424px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.tagGroup {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.tagGroup > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tagGroup > :global(.__wab_flex-container) > *,
.tagGroup > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagGroup > :global(.__wab_flex-container) > picture > img,
.tagGroup
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.tag {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag > :global(.__wab_flex-container) > *,
.tag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag > :global(.__wab_flex-container) > picture > img,
.tag > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag2 > :global(.__wab_flex-container) > *,
.tag2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag2 > :global(.__wab_flex-container) > picture > img,
.tag2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa2 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag3 > :global(.__wab_flex-container) > *,
.tag3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag3 > :global(.__wab_flex-container) > picture > img,
.tag3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa3 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.titleBody {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.titleBody > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.titleBody > :global(.__wab_flex-container) > *,
.titleBody > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleBody > :global(.__wab_flex-container) > picture > img,
.titleBody
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__v43Ow {
  display: block;
  position: relative;
  width: 300px;
  height: 64px;
  flex-shrink: 0;
}
.headline {
  display: block;
  font-size: 24px;
  font-family: "Reckless XPD";
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.body {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: relative;
}
.date {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(102, 105, 124, 1);
  position: relative;
}
.buttonText2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 34px;
}
.buttonText2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.buttonText2 > :global(.__wab_flex-container) > *,
.buttonText2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonText2 > :global(.__wab_flex-container) > picture > img,
.buttonText2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__qmM6N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox___0TSup {
  display: block;
  position: relative;
  width: 52px;
  height: 16px;
  flex-shrink: 0;
}
.text4 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.svg__edD3O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.screenshot20230518At12182 {
  background: url("./images/screenshot20230518At12185.jpg") center center / cover no-repeat;
  width: 99.66%;
  height: 72.59%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.group1073716551 {
  width: 301px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 316px;
}
.editorialCardsDesktop2 {
  width: 300px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
}
.text5 {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.image4 {
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mediaSizes3 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.image5 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.travelTipsRyanCollage02396532 {
  background: url("./images/travelTipsRyanCollage02396531.jpg") -264px -33px / 673px 448px no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.editorialContentPanel2 {
  width: 300px;
  height: auto;
  display: flex;
  position: absolute;
  top: 424px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.tagGroup2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.tagGroup2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tagGroup2 > :global(.__wab_flex-container) > *,
.tagGroup2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagGroup2 > :global(.__wab_flex-container) > picture > img,
.tagGroup2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.tag4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag4 > :global(.__wab_flex-container) > *,
.tag4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag4 > :global(.__wab_flex-container) > picture > img,
.tag4 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa4 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag5 > :global(.__wab_flex-container) > *,
.tag5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag5 > :global(.__wab_flex-container) > picture > img,
.tag5 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa5 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag6 > :global(.__wab_flex-container) > *,
.tag6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag6 > :global(.__wab_flex-container) > picture > img,
.tag6 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa6 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.titleBody2 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.titleBody2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.titleBody2 > :global(.__wab_flex-container) > *,
.titleBody2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleBody2 > :global(.__wab_flex-container) > picture > img,
.titleBody2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__pIhHx {
  display: block;
  position: relative;
  width: 300px;
  height: 64px;
  flex-shrink: 0;
}
.headline2 {
  display: block;
  font-size: 24px;
  font-family: "Reckless XPD";
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.body2 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: relative;
}
.date2 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(102, 105, 124, 1);
  position: relative;
}
.buttonText3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 34px;
}
.buttonText3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.buttonText3 > :global(.__wab_flex-container) > *,
.buttonText3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonText3 > :global(.__wab_flex-container) > picture > img,
.buttonText3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__o6H7O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox___4GRp {
  display: block;
  position: relative;
  width: 52px;
  height: 16px;
  flex-shrink: 0;
}
.text6 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.svg__mAbpE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.screenshot20230518At12183 {
  background: url("./images/screenshot20230518At12186.jpg") -181px 0px / 601px 450px no-repeat;
  width: 99.66%;
  height: 72.59%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.group1073716553 {
  width: 301px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 638px;
}
.editorialCardsDesktop3 {
  width: 300px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
}
.text7 {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.image6 {
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mediaSizes4 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.image7 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.travelTipsRyanCollage02396533 {
  background: url("./images/travelTipsRyanCollage02396531.jpg") -264px -33px / 673px 448px no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.editorialContentPanel3 {
  width: 300px;
  height: auto;
  display: flex;
  position: absolute;
  top: 424px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.tagGroup3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.tagGroup3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tagGroup3 > :global(.__wab_flex-container) > *,
.tagGroup3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagGroup3 > :global(.__wab_flex-container) > picture > img,
.tagGroup3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.tag7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag7 > :global(.__wab_flex-container) > *,
.tag7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag7 > :global(.__wab_flex-container) > picture > img,
.tag7 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa7 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag8 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag8 > :global(.__wab_flex-container) > *,
.tag8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag8 > :global(.__wab_flex-container) > picture > img,
.tag8 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa8 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag9 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag9 > :global(.__wab_flex-container) > *,
.tag9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag9 > :global(.__wab_flex-container) > picture > img,
.tag9 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa9 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.titleBody3 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.titleBody3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.titleBody3 > :global(.__wab_flex-container) > *,
.titleBody3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleBody3 > :global(.__wab_flex-container) > picture > img,
.titleBody3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox___9PRib {
  display: block;
  position: relative;
  width: 300px;
  height: 64px;
  flex-shrink: 0;
}
.headline3 {
  display: block;
  font-size: 24px;
  font-family: "Reckless XPD";
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.body3 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: relative;
}
.date3 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(102, 105, 124, 1);
  position: relative;
}
.buttonText4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 34px;
}
.buttonText4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.buttonText4 > :global(.__wab_flex-container) > *,
.buttonText4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonText4 > :global(.__wab_flex-container) > picture > img,
.buttonText4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__dCt97 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__uyRr8 {
  display: block;
  position: relative;
  width: 52px;
  height: 16px;
  flex-shrink: 0;
}
.text8 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.svg__dTyC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.screenshot20230518At12184 {
  background: url("./images/screenshot20230518At12187.jpg") center center / cover no-repeat;
  width: 99.66%;
  height: 72.59%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.group1073716554 {
  width: 301px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 957px;
}
.editorialCardsDesktop4 {
  width: 300px;
  height: 551px;
  display: block;
  position: absolute;
  top: 0px;
  left: 1px;
}
.text9 {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
}
.image8 {
  width: 300px;
  height: 400px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mediaSizes5 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  overflow: hidden;
}
.image9 {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.travelTipsRyanCollage02396534 {
  background: url("./images/travelTipsRyanCollage02396531.jpg") -264px -33px / 673px 448px no-repeat;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.editorialContentPanel4 {
  width: 300px;
  height: auto;
  display: flex;
  position: absolute;
  top: 424px;
  left: 0px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content4 > :global(.__wab_flex-container) > *,
.content4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content4 > :global(.__wab_flex-container) > picture > img,
.content4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.tagGroup4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.tagGroup4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.tagGroup4 > :global(.__wab_flex-container) > *,
.tagGroup4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tagGroup4 > :global(.__wab_flex-container) > picture > img,
.tagGroup4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.tag10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag10 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag10 > :global(.__wab_flex-container) > *,
.tag10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag10 > :global(.__wab_flex-container) > picture > img,
.tag10 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa10 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag11 > :global(.__wab_flex-container) > *,
.tag11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag11 > :global(.__wab_flex-container) > picture > img,
.tag11 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa11 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.tag12 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 100px;
  padding: 3px 8px 4px;
}
.tag12 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.tag12 > :global(.__wab_flex-container) > *,
.tag12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.tag12 > :global(.__wab_flex-container) > picture > img,
.tag12 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
}
.usa12 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(48, 54, 78, 1);
  position: relative;
}
.titleBody4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.titleBody4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.titleBody4 > :global(.__wab_flex-container) > *,
.titleBody4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.titleBody4 > :global(.__wab_flex-container) > picture > img,
.titleBody4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__mkOy3 {
  display: block;
  position: relative;
  width: 300px;
  height: 64px;
  flex-shrink: 0;
}
.headline4 {
  display: block;
  font-size: 24px;
  font-family: "Reckless XPD";
  font-weight: 300;
  letter-spacing: -0.03em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.body4 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  align-self: stretch;
  position: relative;
}
.date4 {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  font-family: "Centra No2";
  letter-spacing: 0em;
  line-height: 1.2;
  color: rgba(102, 105, 124, 1);
  position: relative;
}
.buttonText5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  border-radius: 34px;
}
.buttonText5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.buttonText5 > :global(.__wab_flex-container) > *,
.buttonText5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonText5 > :global(.__wab_flex-container) > picture > img,
.buttonText5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.svg__pqwP {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.freeBox__p245L {
  display: block;
  position: relative;
  width: 52px;
  height: 16px;
  flex-shrink: 0;
}
.text10 {
  display: block;
  font-size: 12px;
  font-family: "Centra No2";
  font-weight: 500;
  letter-spacing: 0em;
  line-height: 1.35;
  color: rgba(24, 29, 58, 1);
  position: absolute;
  transform: skew(-0.057295760414500616deg, 0deg);
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.svg__y94Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #191e3b;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
.screenshot20230518At12185 {
  background: url("./images/screenshot20230518At12188.jpg") -197px -95px / 662px 495px no-repeat;
  width: 99.66%;
  height: 72.59%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
